@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/gotham');

body {
    max-width: 1100px;
    margin: 0 auto;

    background: url('../assets/BackgroundGradient.png'), #000;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
}

* {
    color: #fff;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}

nav {
    height: 100px;
    display: flex;
    align-items: center;
}

nav .logo {
    height: 32px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    width: 100%;
    padding: 0 20px;
}

nav ul li {
    margin-left: 40px;
    font-weight: 500;
    font-size: 18px;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav .downloadButton {
    padding: 10px 18px;
    background-color: #fff;
    border-radius: 300px;
    font-size: 18px;
    font-weight: 500;
    color: #4E4443;
}

nav .downloadButton:hover {
    background-color: #ffffff22;
    color: #fff;
    text-decoration: none;
}

#header {
    display: flex;
}

#headerText {
    width: 100%;
    margin-right: 50px;
}

#headerImage {
    width: 40%;
}

#headerText h1 {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 82px;
    line-height: 103.1%;
    /* or 85px */

    letter-spacing: -0.055em;

    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    margin-bottom: 20px;
    margin-top: 20px;
}

#headerText p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 110%;
    /* or 24px */


    color: rgba(255, 255, 255, 0.5);
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

#ArgsList {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.arg {
    border-radius: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background-color: #ffffff15;
    width: fit-content;
    margin-right: 10px;
    margin-bottom: 10px;
}

.arg p {
    font-size: 18px !important;
    font-weight: 500;
    margin-left: 10px;
    color: #fff !important;
}

.arg:hover {
    background-color: #ffffff22;
    cursor: default;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #ffffff44;
    border-radius: 300px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff88;
}

.section {
    margin-top: 40px;
    margin-bottom: 50px;
}

hr {
    opacity: 0.25;
    margin-bottom: 40px;
}

.section h2 {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 103.1%;
    /* or 49px */

    letter-spacing: -0.055em;

    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.section p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 110%;
    /* or 24px */

    margin-top: 15px;
    color: rgba(255, 255, 255, 0.5);
}

#opensourceImage {
    margin-top: 30px;
    width: 100%;
}

#add2homeImage {
    margin-top: 30px;
    width: 100%;
}

.section small, .section small * {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    /* identical to box height, or 20px */


    color: rgba(255, 255, 255, 0.25);
}

@media screen and (max-width: 1200px) {
    body {
        max-width: 100%;
        margin: 0px 40px;
    }

    #headerImage {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    #demoImage {
        width: 30vw;
        object-fit: contain;
    }
}

@media screen and (max-width: 1000px) {
    #headerImage {
        display: none;
    }

    #headerText {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width: 900px) {
    nav li:not(.downloadLi) {
        display: none;
    }
}

@media screen and (max-width: 562px) {
    .downloadLi {
        display: none;
    }

    #header {
        flex-direction: column;
    }

    #headerImage {
        display: block !important;
    }

    #demoImage {
        width: 80vw;
        object-fit: contain;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 72px !important;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 56px !important;
    }
}